  <div class="span3" >
    <div class="well sidebar-nav"  style='padding: 10px'>
    	<div>
    		<form class="form-search">
    		  <input type="text" class="input-medium search-query">
    		  <button type="submit" class="btn">Search</button>
    		</form>
    	</div>
    	<div>
    		<span style='float: left'>tags:  </span>
    		<ul class='unstyled'>
    			<li style='margin: 0 5px'><%= link_to "tag", '#' %> </li>
    		</ul>
    	</div>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->