<div class="row">
  
  
  <div class="span9">
    
    <div class='well'>
      <h2 class='title'>书架</h2>
      <hr style='border-color: silver'/>
      <% if @comics.blank? %>
        <p style='font-size: 24px;text-align:center'>
           还没有收藏漫画
        </p>
      <% else %>
        <%= render :partial => 'welcome/thumbs', :locals => {:comics => @comics} %>
        <% end -%>
    </div>
    	
  </div>