<ul class="breadcrumb">
  <li>
    <a href="#">index</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">comic name</a> <span class="divider">/</span>
  </li>
  <li class="active">1</li>
</ul>

<div class='container'>
	<img src="http://placehold.it/960x1000" alt="">
</div>