/*.comic > div{
	height: 170px;
	padding: 5px;
}*/

/*.comic .cover {
	width: 150px;
	float: left;
}
*/
/*.comic .info {
	width: 500px;
	float: left;
}*/

.comic {
	margin: 15px;
}
.comic .name {
	margin: 15px 0;
	font-size: 24px;
}

.comic .intro {
	padding: 15px;
}

.comic .tags {
	height: 30px;
	font-size: 18px;
}

.comic .tags a {
	color: #FE642E;
}